<div class="advanced-search-wrapper">
  <div class="advanced-dropdowns-container">
    <div class="advanced-dropdown"
         (onShown)="toggleLandscapeDropdown(true)"
         (onHidden)="toggleLandscapeDropdown(false)"
         dropdown>
      <div type="button" class="dropdown-button" dropdownToggle>
        Master of landscape &nbsp;<i class="nc-icon nc-small-triangle-down"></i>
      </div>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li (click)="selectItem($event)" role="menuitem">
          Action
        </li>
        <li (click)="selectItem($event)" class="selected" role="menuitem">
          Action ful dolgi napis da bo truncate delal
          <i class="nc-icon nc-check-circle-08"></i>
        </li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
      </ul>
    </div>

    <!-- time employed -->
    <div class="advanced-dropdown"
         (onShown)="toggleLandscapeDropdown(true)"
         (onHidden)="toggleLandscapeDropdown(false)"
         dropdown>
      <div type="button" class="dropdown-button" dropdownToggle>
        Master of landscape &nbsp;<i class="nc-icon nc-small-triangle-down"></i>
      </div>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li (click)="selectItem($event)" role="menuitem">
          Action
        </li>
        <li (click)="selectItem($event)" class="selected" role="menuitem">
          Action ful dolgi napis da bo truncate delal
          <i class="nc-icon nc-check-circle-08"></i>
        </li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
      </ul>
    </div>

    <!--- skills -->

    <div class="advanced-dropdown"
         (onShown)="toggleLandscapeDropdown(true)"
         (onHidden)="toggleLandscapeDropdown(false)"
         dropdown>
      <div type="button" class="dropdown-button" dropdownToggle>
        Master of landscape &nbsp;<i class="nc-icon nc-small-triangle-down"></i>
      </div>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li (click)="selectItem($event)" role="menuitem">
          Action
        </li>
        <li (click)="selectItem($event)" class="selected" role="menuitem">
          Action ful dolgi napis da bo truncate delal
          <i class="nc-icon nc-check-circle-08"></i>
        </li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
      </ul>
    </div>

    <!-- example -->

    <div class="advanced-dropdown"
         (onShown)="toggleLandscapeDropdown(true)"
         (onHidden)="toggleLandscapeDropdown(false)"
         dropdown>
      <div type="button" class="dropdown-button" dropdownToggle>
        Master of landscape &nbsp;<i class="nc-icon nc-small-triangle-down"></i>
      </div>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li (click)="selectItem($event)" role="menuitem">
          Action
        </li>
        <li (click)="selectItem($event)" class="selected" role="menuitem">
          Action ful dolgi napis da bo truncate delal
          <i class="nc-icon nc-check-circle-08"></i>
        </li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
        <li (click)="selectItem($event)" role="menuitem">Action</li>
      </ul>
    </div>
  </div>
</div>
