<div class="cms-well">
  <h2 class="cms-well-title">
    Architects
  </h2>
  <div class="architects-list">
    <div class="employees-container">
      <!-- ARCHITECT COMOPNENT -->
      <app-architect-avatar (onDeleteArchitect)="deleteArchitect($event)" [architect]="architect" *ngFor="let architect of architects; let i = index"></app-architect-avatar>
      <div (click)="addTeammate()" class="add-architect">
        <div class="avatar">
          <i class="nc-icon nc-small-add"></i>
        </div>
        <div class="name">
          Add <br/> teammate
        </div>
      </div>
    </div>

  </div>
</div>
