<div class="image-upload-container">
  <div class="cms-well">
    <h2 class="cms-well-title">
      <span class="fa fa-th-list"></span>
      {{title}}
    </h2>
    <div (click)="remove()" *ngIf="removeIcon" class="remove-block-icon">
      <i class="nc-icon nc-simple-remove"></i>
    </div>
    <div class="dropdown-instructions-container">
      <p class="instructions">Drag and Drop files with extension JPG or PNG.</p>
      <button class="lz-btn light-btn">Select image</button>
    </div>
  </div>
</div>
