<div [ngClass]="{'turn-profile-name-header' : isShrunk}" class="profile-name-container">

  <div class="nav-links">
    <div class="nav-link">
      ABOUT
    </div>
    <div class="nav-link">
      CREATE PROFILE
    </div>
    <div class="nav-link">
      SIGN IN
    </div>
  </div>

  <div routerLink="/" class="logo"></div>


  <div class="social-icons">
    <i class="profile-social-icon nc-icon nc-logo-facebook"></i>
    <i class="profile-social-icon nc-icon nc-logo-linkedin"></i>
    <i class="profile-social-icon nc-icon nc-logo-twitter"></i>
  </div>
  <h1 class="profile-title">Katy Bor</h1>
  <p class="profile-location">Paris, Lyon and Bordeaux - France</p>
  <a class="profile-link">www.baselande.fr</a>



</div>
