@import "../../../variables";

.header-container{
  padding: 30px;
  position: absolute;
  top: 0;
  z-index: 10;
  width: 100%;


  .logo{
    width: 170px;
    height: 25px;
    background-image: url("../../../assets/images/logo.png");

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    cursor: pointer;
  }

  .nav-links{
    float: right;
    .nav-link{
      display: inline-block;
      margin-left: 15px;
      margin-right: 15px;
      color: @text;
      cursor: pointer;
    }
    .nav-link:last-child{
      margin-right: 0;
    }
  }
}
