<div class="employee">
  <div class="avatar" [ngStyle]="{'background-image': 'url(' + architect.profileImage.thumbUrl + ')'}" [containerClass]="'lz-tooltip'" [tooltip]="avatarTooltip">

    <div class="hover-container">
      <div class="star-container">
        <i class="fa fa-star-o" aria-hidden="true"> </i>
      </div>
      <div (click)="deleteArchitect()" class="delete-container">
        <i class="nc-icon nc-simple-remove"></i>
      </div>
    </div>

  </div>
  <div class="name">{{architect.name}}</div>
  <!-- TOOLTIP TEMPLATE -->
  <ng-template #avatarTooltip>

    <h4 class="tooltip-title">Add to Leaders or remove from team</h4>
    <p class="tooltip-text">
      Send email to all applicants, something something, something.
    </p>

  </ng-template>
</div>
