<div class="video-overlay-container">

  <div class="welcome-search-container">
    <h1 class="welcome-title">Find Landscape architects!</h1>
    <p class="welcome-text"><span class="green">/</span>
      or find out who is who in the global community of landscape architecture.
    </p>
    <!-- SEARCH BOX -->
    <app-search-box></app-search-box>
  </div>

  <div class="section-title-container">
    <div class="studios-title">
      <h1 class="section-title">STUDIOS</h1>
    </div>
  </div>


</div>
