<app-cms-header></app-cms-header>
<app-task-bar [showSearchBar]="true"></app-task-bar>
  <div class="cms-content-container">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3">
          <app-projects-listing></app-projects-listing>
        </div>
        <div class="col-sm-6">
          <app-project-builder></app-project-builder>
        </div>
        <div class="col-sm-3">
          <app-project-blocks></app-project-blocks>
        </div>
      </div>
    </div>
  </div>
<app-cms-footer></app-cms-footer>
