<div class="project-header-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="project-title-container">
          <div class="back-button">
            <span class="nc-icon nc-tail-left"></span>
            BASE Landscape Architecture
          </div>
          <h1 class="title">EANA Park project</h1>
          <p class="project-location">
            <i class="fa fa-map-marker"></i>
            France, Paris, Feb 2016
          </p>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="project-members-container">
          <app-employees [projectMembers]="true"></app-employees>
        </div>

      </div>
    </div>
  </div>
</div>
