<div class="portfolio-description">
  <h1 class="portfolio-title">
    DESCRIPTION
  </h1>

  <p>
    BASE (Bien Aménager Son Environnement / Build A Super Environment) is a team of more than thirty landscape designers, architects, and engineers founded by three government-approved (dplg) landscape architects from the Versailles National School of Landscape Architecture : Franck Poirier, Bertrand Vignal and Clément Willemin.
    BASE (Bien Aménager Son Environnement / Build A Super Environment) is a team of more than thirty landscape designers, architects, and engineers founded by three government-approved (dplg) landscape architects from the Versailles National School of Landscape Architecture : Franck Poirier, Bertrand Vignal and Clément Willemin.
    BASE (Bien Aménager Son Environnement / Build A Super Environment) is a team of more than thirty landscape designers, architects, and engineers founded by three government-approved (dplg) landscape architects from the Versailles National School of Landscape Architecture : Franck Poirier, Bertrand Vignal and Clément Willemin.
    BASE (Bien Aménager Son Environnement / Build A Super Environment) is a team of more than thirty landscape designers, architects, and engineers founded by three government-approved (dplg) landscape architects from the Versailles National School of Landscape Architecture : Franck Poirier, Bertrand Vignal and Clément Willemin.
  </p>
</div>
