<div id="scroll-to-content" class="container">
  <div class="portfolio-text-container">
    <h1 class="portfolio-title">EANA Park</h1>
    <div class="portfolio-text">
      <p class="portfolio-description">
        Located near Rouen in the city of Lillebonne in Normandy, the Valasse Abbey dates back to the XIIth century. It underwent several restorations, the last one in the XVIIIth century. The monument lies in the small valley of Bolbec, which meanders in the garden’s 30 ha. The park completes the ongoing restoration of the historical monument and facilitates its interaction with new buildings, all of which gives birth to the “city of matters”, a vast tourist protean programme: leisure park, a garden exploring the history of the universe and that of the Cistercian monks, outdoor scenography on sustainable development, a conference center… The project offers a reinterpretation of the monks’ relationship with their environment; several trails in a series of themed gardens provide an introduction to the landscape and its natural elements: elementary garden, fog/mist garden, textile garden, dew garden, etc.
      </p>
    </div>
  </div>

</div>
