.card-wrapper{
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  cursor: url("../../../assets/images/More-Cursor.svg"), auto;
  .card{
    width: 370px;
    height: 500px;
    position: relative;
    padding: 15px 55px 15px 15px;
    .text-container{
      position: absolute;
      left: 0px;
      bottom: 0px;
      color: #fff;
      padding: inherit;
      overflow-y: auto;
      .card-title{
        font-size: 36px;
        margin-bottom: 5px;
      }
    }
  }

  .card:hover{
    background-color: rgba(129, 142, 248, 0.31);
    background-blend-mode: multiply;
    transition: background-color 0.3s ease-in-out;


  }
}

