<div class="project-basic-info-container">
  <div class="cms-well">
    <div class="lz-form">
      <div class="lz-form-group">
        <label class="lz-label" for="name">Project name</label>
        <input placeholder="Name of your project" class="lz-input" id="name" type="text">
      </div>
      <div class="lz-form-group">
        <label class="lz-label" for="location">Location</label>
        <input placeholder="Location of your project" class="lz-input" id="location" type="text">
      </div>
      <div class="date-container lz-form-group pull-left">
        <label class="lz-label" for="date-from">From</label>
        <input class="lz-input" id="date-from" type="text">
      </div>
      <div class="date-container lz-form-group pull-left">
        <label class="lz-label" for="date-to">To</label>
        <input class="lz-input" id="date-to" type="text">
      </div>
    </div>
  </div>
</div>


