<div class="join-container">
  <div  routerLink="/" class="logo-container">
      <div class="logo-back-icon">
       <i class="fa fa-chevron-left" aria-hidden="true"> </i>
      </div>
      <div class="logo"></div>
  </div>

  <div class="join-well">
    <p class="sign-in-text">Sign in</p>
    <h1 class="well-title">
      Join Landezine Creative
    </h1>
    <p class="well-text">Create portfolio in just few clicks or hire the world’s top landscape architects.</p>
    <div class="sign-in-container">
      <button (click)="loginInWithLinkedIn()" class="sign-in-linkedin-btn"><i class="fa fa-linkedin"></i> Sign in with LinkedIn</button>
      <p class="light-grey">Don’t own an LinkedIn account? <span class="underline">Use email</span></p>
    </div>
  </div>
</div>
