<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close-btn pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <label>Select an individual</label>
  <div class="search-teammates-container">
    <div class="modal-well">
      <div class="search-container">
        <i class="nc-icon nc-zoom-2-2 search-icon"></i>
        <input type="text" class="search-input" placeholder="Search architects" />
      </div>
      <div *ngIf="list.length" class="teammate-list">
        <div (click)="item.selected = !item.selected" *ngFor="let item of list" class="teammate">
          {{item.name}}
          <i *ngIf="item.selected" class="selected-icon nc-icon nc-check-circle-08"></i>
        </div>
      </div>
    </div>

    <div class="lz-form">
      <div class="lz-form-group">
        <label>Invite by email</label>
        <tag-input
          secondaryPlaceholder="Add emails"
          placeholder="Add email"
          [theme]="'bootstrap'"
          inputClass="tag-input"
          [ngModel]="items">
        </tag-input>
      </div>
    </div>
  </div>

</div>
<div class="modal-footer">
  <button type="button" class="lz-btn default-btn" (click)="bsModalRef.hide()">Add & Send</button>
</div>
