<div class="update-btn-container" dropdown>
  <div class="action-button">Update</div>
  <div class="action-dropdown-toggle" dropdownToggle>
    <i class="nc-icon nc-small-down"></i>
  </div>
  <ul *dropdownMenu class="dropdown-menu action-dropdown" role="menu">
    <li role="menuitem"><a class="dropdown-item" href="#">Update</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Unpublish</a></li>
    <li role="menuitem"><a class="dropdown-item delete-link" href="#">Delete</a></li>
  </ul>
</div>
