<div class="cms-header-container">
  <div class="cms-logo-container">
    <div [routerLink]="['/']"  class="cms-logo"></div>
    <div class="cms-sign">CMS</div>
  </div>

  <div class="cms-nav-container">
    <div [routerLinkActive]="['active-link']" [routerLink]="['/cms']" [routerLinkActiveOptions]="{exact:true}" class="cms-nav-link">
      General info
      <div class="active-indicator"></div>
    </div>
    <div [routerLinkActive]="['active-link']" [routerLink]="['/cms/projects']" [routerLinkActiveOptions]="{exact:true}"  class="cms-nav-link">
      {{role === 'INDIVIDUAL'? 'CV': 'Portfolio'}}
      <div class="active-indicator"></div>
    </div>
    <div *ngIf="role === 'COMPANY'" [routerLinkActive]="['active-link']" [routerLink]="['/cms/jobs']" class="cms-nav-link">
      Jobs
      <div class="active-indicator"></div>
    </div>
    <div *ngIf="role === 'COMPANY'" class="cms-nav-link">
      Projects
      <div class="active-indicator"></div>
    </div>
  </div>

  <div class="cms-header-right-container" >
    <div class="dropdown-wrapper" dropdown>
      <div class="studio-dropdown" dropdownToggle >
        <div class="dropdown-icon">
          <i class="nc-icon nc-small-triangle-down"></i>
        </div>
        <div class="avatar"></div>
        <div class="title-type">
          <div class="title">
            {{role === 'INDIVIDUAL'?'Janez Novak':'Base Studio'}}
          </div>
          <div class="type">
            {{role === 'INDIVIDUAL'?'Individual':'Company'}}
          </div>
        </div>
      </div>
      <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li (click)="switchRole()" class="header-dropdown-li" role="menuitem">
          <a class="dropdown-item">
            <div class="avatar"></div>
            <div class="title-type">
              <div class="title">
                {{role === 'INDIVIDUAL'?'Base Studio':'Janez Novak'}}
              </div>

              <div class="type">
                {{role === 'INDIVIDUAL'?'Company':'Individual'}}
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>

    <div *ngIf="role === 'COMPANY'" class="post-a-job">
      <p>Post a job</p>
    </div>
  </div>

</div>
