<div class="employees-container">
  <div class="employee">
    <div class="avatar"></div>
    <div class="name">Katy Bor doladfh sdfh</div>
  </div>
  <div class="employee">
    <div class="avatar"></div>
    <div class="name">Katy Bor</div>
  </div>
  <div class="employee">
    <div class="avatar"></div>
    <div class="name">Katy Bor</div>
  </div>
  <div class="employee">
    <div class="avatar"></div>
    <div class="name">Katy Bor</div>
  </div>
  <div class="employee">
    <div class="avatar"></div>
    <div class="name">Katy Bor</div>
  </div>
  <div class="employee">
    <div class="avatar"></div>
    <div class="name">Katy Bor</div>
  </div>
  <div class="employee">
    <div class="avatar"></div>
    <div class="name">Katy Bor</div>
  </div>
  <div class="employee">
    <div class="avatar"></div>
    <div class="name">Katy Bor</div>
  </div>
  <div class="employee">
    <div class="avatar"></div>
    <div class="name">Katy Bor</div>
  </div>
  <div class="employee">
    <div class="avatar"></div>
    <div class="name">Katy Bor</div>
  </div>
</div>
