<div class="full-screen-profile-container">
  <!-- LEFT CONTENT-->
    <div class="left-image-container"></div>
   <!-- RIGHT CONTENT -->
   <div class="profile-right-content-container">
     <app-profile-name></app-profile-name>

     <!-- GRAPH -->
     <app-graph></app-graph>

     <!-- EMPLOYEES -->
     <app-employees></app-employees>

     <!-- PROFILE DESCRIPTION -->
     <app-profile-description></app-profile-description>
   </div>

  <div pageScroll href="#scroll-to-content" class="scroll-down-btn">
    <i class="nc-icon nc-tail-down"></i>
  </div>
</div>
