<div class="portfolio-image-container">
  <div class="container">
    <img class="portfolio-img" src="../../../assets/images/samples/sample-building.jpg">
    <p class="portfolio-image-description">EANA Park, City of Lillebonne</p>

    <div class="portfolio-gallery">
      <ul class="photo-list clear">
        <li class="photo-thumb">
          <div class="thumb-container" [ngStyle]="{'background-image':'url(../../../assets/images/samples/1.jpg)'}"></div>
        </li>
        <li class="photo-thumb">
          <div class="thumb-container" [ngStyle]="{'background-image':'url(../../../assets/images/samples/1.jpg)'}"></div>
        </li>
        <li class="photo-thumb">
          <div class="thumb-container" [ngStyle]="{'background-image':'url(../../../assets/images/samples/1.jpg)'}"></div>
        </li>
        <li class="photo-thumb">
          <div class="thumb-container" [ngStyle]="{'background-image':'url(../../../assets/images/samples/1.jpg)'}"></div>
        </li>
        <li class="photo-thumb">
          <div class="thumb-container" [ngStyle]="{'background-image':'url(../../../assets/images/samples/1.jpg)'}"></div>
        </li>
      </ul>
    </div>
  </div>
</div>
