<div class="join-container step-3-container">
  <div  routerLink="/" class="logo-container">
    <div class="logo-back-icon">
      <i class="fa fa-chevron-left" aria-hidden="true"> </i>
    </div>
    <div class="logo"></div>
  </div>

  <div class="join-well">
    <h1 class="well-title">
      Welcome Mike Individual
    </h1>
    <p class="well-text">Check or change your basic informations.</p>

    <div class="portfolio-company-container">
      <div class="row">
        <div class="col-sm-6">
          <div routerLink="/cms" class="image-container">
            <img src="../../../assets/images/portfolio.svg">
            <p class="complete-text">Complete your portfolio</p>
          </div>

        </div>
        <div class="col-sm-6">
          <div class="image-container">
            <img src="../../../assets/images/company.svg">
            <p class="complete-text">Add your company</p>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
