<div class="footer-container">
  <div class="container">
    <div class="row">
      <div class="col-sm-3">
        <img class="footer-logo" src="../../../assets/images/logo.png">

        <div class="footer-links">
          <div class="footer-link">
            About us
          </div>
          <div class="footer-link">
            Sitemap
          </div>
          <div class="footer-link">
            +386 40 81 40 04
          </div>
          <div class="footer-link">
            info@landezine.com
          </div>
        </div>
      </div>

      <div class="col-sm-3">

        <div class="footer-links links-without-logo">
          <div class="footer-link">
            Featured Studios
          </div>
          <div class="footer-link">
            Give us Feedback
          </div>
          <div class="footer-link">
            Add your profile
          </div>
          <div class="footer-link">
            Sign in
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <app-footer-search-box></app-footer-search-box>
      </div>
    </div>
  </div>
  <div class="footer-credits">
    © Landezine 2017 - Society for Promotion of Landscape Architecture
  </div>
</div>
